*.sra
*.bam
*.h5
*.tsv
diffHicUG.aux
diffHicUG.out
diffHicUG.bbl
diffHicUG.blg
diffHicUG.log
diffHicUG.pdf
diffHicUG.toc
example.h5
linker.sh
merged.h5
merged_erg.h5
merged_gfp.h5
merged_flox_1.h5
merged_flox_2.h5
merged_ko_1.h5
merged_ko_2.h5
mm10-hindIII.rds
plots-ug/
sizecons.tsv
withnest.tsv
old.tex
clustered.tsv
results.tsv
