*.sra
*.bam
*.h5
*.tsv
*.pdf
diffHicUG.R
diffHicUG.aux
diffHicUG.out
diffHicUG.bbl
diffHicUG.blg
diffHicUG.log
diffHicUG.toc
mm10-hindIII.rds
plots-ug/
transferUG.R
hg19_index
hicmap.py
mm10_index
success.log
texput.log
*.sty
*.bst
*.tar.gz
